// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass";
@import "socialicons/*.png";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
// @import "foundation/components/modules/clearing";
// @import "foundation/components/modules/joyride";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";
@include font-face("MuseoSlab-500", font-files("25F607_0_0.eot", "25F607_0_0.eot?#iefix", "25F607_0_0.woff", "25F607_0_0.ttf", "25F607_0_0.svg#wf"));
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

*{
  @include box-sizing("border-box");
}
 
hr {
  margin: 0;
}

.social-links{
  @include inline-block-list(5px);
}

.s-link{
  a{
    @include hide-text();
    display: block;
  }
}

a[href*="facebook"]{
  @include socialicons-sprite("facebook-32");
  margin: 6px 0;
  height: 32px !important;
  width: 32px;
  background-color: #fafafa;
  @include border-radius(1000px);
  @include transition(all 0.2s ease-out);
  &:hover{
    background-color: lighten($topBarBgColor, 10%);
  }
}

a[href*="twitter"]{
  @include socialicons-sprite("twitter-32");
  margin: 6px 0;
  height: 32px !important;
  width: 32px;
  background-color: #fafafa;
  @include border-radius(1000px);
  @include transition(all 0.2s ease-out);
  &:hover{
    background-color: lighten($topBarBgColor, 10%);
  }
}

a[href*="vimeo"]{
  @include socialicons-sprite("vimeo-32");
  margin: 6px 0;
  height: 32px !important;
  width: 32px;
  background-color: #fafafa;
  @include border-radius(1000px);
  @include transition(all 0.2s ease-out);
  &:hover{
    background-color: lighten($topBarBgColor, 10%);
  }
}

input[type="search"]{
  font-style: italic;
  &.round { 
    @include border-radius(1000px); 
  }
}

.login{
  font-style: italic;
  text-decoration: underline;
}

.nav-link{
  color: #666;
  font-family: $headerFontFamily;
  font-size: ms(1);
  padding: 0 3.5%;
  line-height: 63px;
  border-right: 1px solid #eee;
  @include transition(all 0.4s);
  &:hover{
    color: #fdd017;
  }
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    border-right: none;
  }
}

.logo-container {
  padding: 0;
  & .logo{
    max-width: 100%;
  }
}

.row.featured {
  margin-top: 20px;
  & #featured {
    margin-bottom: 0;
  }
}

.view-more {
  font-size: ms(1);
  font-weight: 100;
  font-style: italic;
  padding: 5px 20px;
  &.white {
    color: #333;
    background-color: #fafafa;
  }
  &.gray {
    background-color: #333;
  }
}

.row.free-pass {
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  & .free {
    line-height: 1;
    font-size: ms(2);
    font-weight: 500;
    font-style: italic;
    margin-bottom: 0;
  }
  & .pass {
    font-family: $headerFontFamily;
    line-height: 1;
    font-size: ms(4);
    font-weight: 500;
    margin: 5px 0;
  }
  &.blog {
    border-top: none;
    text-align: left;
    padding: 7px;
    & .pass {
      font-family: $headerFontFamily;
      line-height: 1;
      font-size: ms(2);
      font-weight: 500;
      display: inline;
      float: left;
    }
    & .view-more {
      float: right;
      display: inline;
    }
  }
}

.row.newsletter { 
  text-align: center; 
  border-bottom: 1px solid #ccc;
  & input[type="search"] {
    width: 80%;
    margin: 0 auto 7px;
  }
  & .news {
    font-family: $headerFontFamily;
    line-height: 1;
    font-size: ms(4);
    font-weight: 500;
    margin: 0;
  }
  & .letter {
    font-style: italic;
    margin: 0 0 5px;
  }
  & .twelve {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #eee;
  }
  &.blog {
    border-top: none;
    text-align: left;
    padding: 6px;
    & .news {
      font-family: $headerFontFamily;
      line-height: 1;
      font-size: ms(2);
      font-weight: 500;
      display: inline;
      float: left;
    }
    & .view-more {
      float: right;
      display: inline;
    }
  }
}

.circle {
  height: 16px;
  width: 16px;
  background-color: #fafafa;
  @include border-radius(1000px);
  border: 1px solid #ccc;
  float: left;
  margin: 5px 5px 0;
  &.colored {
    border: 1px solid $mainColor;
  }
}

.slider {
  font-style: italic;
  margin-bottom: 0;
  float: right;
  & .control {
    font-style: normal;
    color: $mainColor;
    line-height: 1;
    font-size: ms(2);
  }
}

.row.content {
  margin-top: 60px;
  & h3 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}

.read-more {
  color: $mainColor;
  font-style: italic;
}

.muted {
  color: #999;
  font-style: italic;
}

.follow {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.testimonial {
  margin-top: 55px;
  height: 210px;
  background: url('../images/quote-box.png') center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  & p {
    font-family: $headerFontFamily;
    line-height: 1.3;
    font-size: ms(4);
    font-style: italic;
    padding-top: 20px;
    margin: 0;
  }
  & .muted {
    margin: 0;
    font-size: ms(2);
  }
}

.stats {
  background-color: $mainColor;
  text-align: center;
  & .stats-content {
    margin-top: 20px;
    padding: 20px 80px 60px;
  }
  & .read-more {
    color: #fafafa;
  }
  & .personal-stats {
    color: #fafafa;
    margin-top: 30px;
    padding: 20px 0 10px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid lighten($mainColor, 10%);
  }
}

.row.blog-post {
  margin-top: 40px;
  & h4 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  & .logo {
    margin-top: 48px;
  }
  & + & {
    margin-bottom: 40px;
  }
}

.row.footer {
  background-color: #333;
  height: 300px;
  width: 100%;
  & h4 {
    color: #fafafa;
    text-align: center;
    padding-top: 140px;
  }
}

.about-intro {
  color: #111;
  font-family: $headerFontFamily;
  font-size: 15px;
  line-height: 1.8;
}

.row.services {
  margin-top: 40px;
  text-align: center;
  & .four {
    margin-bottom: 20px;
  }
  & h4 {
    margin: 0;
    padding: 75px 0;
    background-color: #ccc;
  }
  & + & {
    margin-top: 0;
    margin-bottom: 40px;
  }
}