/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*  START Header / Footer  */
.header {
  background-color: #eeeeee;
  padding: 7px 0;
}

.social-links {
  list-style-type: none;
  display: inline-block;
}

.s-link {
  width: 30px;
  height: 30px;
  background: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float: left;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.s-link:first-child {
  margin-right: 7px;
}
.s-link:last-child {
  margin-left: 7px;
}
.s-link:hover {
  background: #333333;
}

.login {
  font-size: 14px;
  font-style: italic;
  color: #333333;
  padding-top: 10px;
  padding-right: 15px;
  float: right;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login:hover {
  color: #d81417;
}

.search {
  width: 200px;
  height: 30px;
  background: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float: right;
}

.nav {
  margin-top: 35px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
}

.nav-link {
  color: #333333;
  padding: 3px 25px;
  text-decoration: none;
  border-right: 1px solid #eeeeee;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.nav-link:first-child {
  padding-left: 0;
}
.nav-link:last-child {
  border-right: none;
}
.nav-link:hover {
  color: #fdd017;
}

.logo {
  width: 320px;
  height: 60px;
  font-size: 36px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  color: white;
  background-color: #1b1b1b;
  float: right;
  margin-top: -40px;
}

.footer {
  height: 350px;
  background-color: #999999;
}

/*  END Header / Footer  */
/*  START Home Page  */
.container {
  width: 1024px;
  margin: 0 auto;
}

.sidebar {
  width: 320px;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #aaaaaa;
  float: left;
}
.sidebar.small {
  height: 100px;
}
.sidebar.about-us {
  height: 250px;
  background-color: #999999;
  margin-left: 0;
}

.feature {
  width: 684px;
  height: 400px;
  margin-top: 40px;
  background-color: #1b1b1b;
  float: left;
}
.feature.small {
  height: 100px;
}
.feature.about-blurb {
  height: 250px;
  background-color: #cccccc;
  margin-top: 20px;
  margin-left: 20px;
}

.third {
  width: 320px;
  height: 300px;
  margin-top: 60px;
  background-color: #333333;
  float: left;
  margin-left: 31px;
}
.third:first-child {
  margin-left: 0;
}
.third.services {
  background-color: #777777;
  margin-top: 20px;
}
.third.services.bottom {
  margin-bottom: 40px;
}

.cta {
  height: 275px;
  width: 874px;
  margin: 60px auto 0;
  background-color: #1b1b1b;
}

/*  END Home Page  */
/*  START Blog Page  */
.post {
  width: 684px;
  height: 250px;
  margin-top: 40px;
  background-color: #444444;
  float: left;
}
.post.bottom {
  margin-bottom: 40px;
}

.post-img {
  width: 320px;
  height: 250px;
  margin-top: 40px;
  margin-left: 20px;
  background-color: #777777;
  float: left;
}
.post-img.bottom {
  margin-bottom: 40px;
}

/*  END Blog Page  */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
